<section>
	<h2>会員一覧</h2>
	<table>
	<thead>
		<th>会員ID</th>
		<th>名前</th>
		<th>フリガナ</th>
		<th>メールアドレス</th>
		<th>会員ステータス</th>
		
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= customer.id %></td>
				<td><%= customer.full_name %></td>
				<td><%= customer.full_name_kana %></td>
				<td><%= customer.email %></td>
				<td>
					<% if customer.is_active? %>
						<span>有効</span>	
					<% else %>
						<span>退会済み</span>
					<% end %>
				</td>
	
			</tr>
		<% end %>
	</tbody>
</table>
</section>